<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
    <display-name>Weatherbyapi</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
    <servlet-name>WeatherByServlet</servlet-name>
    <servlet-class>com.example.WeatherByServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>WeatherByServlet</servlet-name>
    <url-pattern>/weather</url-pattern>
</servlet-mapping>

    
</web-app>
